*{
    margin: 0%;
    padding: 0%;
}

$fontstyle : 'Segoe UI';
$color1 : #d1d1d1;
$color2 : #ffffff;
$color3 : #484644;

.grandparent{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    .parent{
        height: 202px;
        width: 618px;
        margin-top: 250px;
        border:1px solid #edebd9;
        background: $color2;
        border-top:  2px solid #0078d7;
        position: relative;

        .child1{
            position: absolute;
            margin: 0;
            padding: 0;
            width: 580px;
            height: 24px;
            background-color: $color2;
           
            
            display: flex;
            flex-direction: row;


            .logo img{
                src: url("./src/component/images.png");
                position: absolute;
                height: 20px;
                width: 20px;
                margin: 16px 576px 168px 16px;
                border-radius: 3px;
            }
            
             .name{
                position: absolute;
                font-family: $fontstyle;
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
                line-height: 16px;
                margin: 18px 523px 170px 44px;
                margin-bottom: 18px;
            }
            
             .dots{
                justify-content: flex-end;
                margin: 16px 16px 172px 580px;
                position: absolute;
               font-size: 20px;
               font-family: $fontstyle;
               font-weight: 400;
               line-height: 16px;
               color: $color3;
               cursor: pointer;
               color: $color3;
            }

        }

        .child2{
            position: absolute;
            width: 580px;
            height: 24px;
            background-color: $color2;
            margin: 52px 16px 128px 16px;

            .p1{
                position: relative;
                font-weight: 700;
                font-style: normal;
                font-family: $fontstyle;
                font-size: 18px;
                line-height: 24px;
                color: #252423;
            }
            
            .p2{
                position: relative;
                font-weight: 400;
                font-style: normal;
                font-family:$fontstyle;
                font-size: 12px;
                line-height: 16px;
                color: $color3;
            
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }

        }
        
        .child3{
            position: absolute;
            width: 580px;
            height: 24px;
            background-color: $color2;
            margin: 100px 16px 64px 16px;
        
            .p3{
                position: relative;
                font-weight: 400;
                font-family: $fontstyle;
                font-style: normal;
                font-size: 14px;
                line-height: 20px;
                color: $color3;
            
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }
        
        }

        .child4{
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        
            .btn{
                width: 96px;
                height: 32px;
                background: $color2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: 1px solid $color1;
                box-shadow: 0 0 2px $color1;
                flex: none;
                order: 1;
                flex-grow: 0;
                cursor: pointer;
            }
        
            #btn1{
                position: absolute;
                
                margin: 156px 500px 16px 16px;
                
            }
            
             #btn2{
                position: absolute;
               
                margin: 156px 396px 16px 120px;
               
            }
            
            #btn3{
                position: absolute;
               
                margin: 156px 292px 16px 224px;
               
            }
            
            #btn4{
                position: absolute;
            
                margin: 156px 88px 16px 328px;
                
            }
        }

    }

}

















